<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="or.junglecast.vo.AccountVO" alias="acvo"/>
  		<typeAlias type="or.junglecast.vo.ArticleVO" alias="arvo"/>
  		<typeAlias type="or.junglecast.vo.CategoryVO" alias="cvo"/>
  		<typeAlias type="or.junglecast.vo.PictureVO" alias="pivo"/>
  		<typeAlias type="or.junglecast.vo.ProfileVO" alias="prvo"/>
  		<typeAlias type="or.junglecast.vo.Re_replyVO" alias="rrvo"/>
  		<typeAlias type="or.junglecast.vo.ReplyVO" alias="revo"/>
  		<typeAlias type="or.junglecast.vo.MainArticleVO" alias="mavo"/>
  		<typeAlias type="or.junglecast.vo.SearchVO" alias="svo"/>
  	</typeAliases>
  </configuration>
  