@CHARSET "UTF-8";
/*///////////////////////////////////////////////*/
/* 기본 설정 */
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {from {top:-100px;opacity: 0;} to {top:0px;opacity:1;}}
/* Add animation (Standard syntax) */
@keyframes example {from {top:-100px;opacity: 0;} to {top:0px;opacity:1;}}
ul {padding:0;}
li{list-style-type: none;}
/*///////////////////////////////////////////////*/
 
 
/*///////////////////////////////////////////////*/ 
/* 모달 설정 */
/* The modal's background */
.modal { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4); padding-top: 50px; padding-bottom: 50px; z-index: 800;}
/* Display the modal when targeted */
.modal:target {display: table; /* table*/ position: absolute;}
/* The modal box */
.modal-dialog {display: table-cell; vertical-align: middle;}
/* The modal's content */
.modal-dialog .modal-content {margin: auto; background-color: #f3f3f3; position: relative; padding: 0; outline: 0; border: 1px #777 solid; text-align: justify; width:985px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:10px; 
  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */ -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */ animation-name: example; animation-duration: 0.5s; }
.modal-dialog .link-content{width:35%;}
/* The button used to close the modal */
.closebtn {text-decoration: none; float: right; font-size: 30px; color: #B6BDC1;}
.closebtn:hover, .closebtn:focus {color: #000; text-decoration: none;  cursor: pointer;}
.mobileCloseBtn{display:none;}
/*///////////////////////////////////////////////*/


/*///////////////////////////////////////////////*/
/* 콘텐츠 표시 영역 */
.container {width:75%;}

/* 링크 복사 모달 */
#linkArea{height:175px; border-radius:10px;}
.link {z-index: 900;}
.link-container{width:100%;}
#linkArea{text-align:center;}
#linkArea p{font-size:13px; padding-top:10%;}
#linkCloseBtn{float:right; padding:0px 8px 0px 8px; font-size:23px;}
#articleLink{padding:2px 4px 2px 4px; width:80%;}

/* 콘텐츠 기본 정보 */
#articleContent{padding: 100px;}
#articleContent p{font-size: 14px; margin-top: 50px; margin-bottom: 50px;}
#articleContent img{width: 100%;}
#articleTitle{margin: 25px; border-bottom: 1px solid #B6BDC1;}
#articleTitle h2{color:#404041;}
#articleSubTitle{font-size:14px; color:#404041;}
#articleDate{margin-top: 40px; color: #6a6e71; font-size: 12px;}

/* 콘텐츠 공유 영역 */
.likeBtn{background: #00a6de url(../images/detailIcons/likeBtn.png) no-repeat 12px; display:inline-block; width:90px; height:40px;}
.saveBtn{background: #414548 url(../images/detailIcons/saveBtn.png) no-repeat 12px; display:inline-block; width:90px; height:40px;}
.fbBtn{background: #4E6888 url(../images/detailIcons/fbBtn.png) no-repeat 15px; display:inline-block; width:40px; height:40px;}
.twBtn{background: #61ABC4 url(../images/detailIcons/twBtn.png) no-repeat 10px; display:inline-block; width:40px; height:40px;}
.linkBtn{background: #FCB040 url(../images/detailIcons/linkBtn.png) no-repeat 10px; display:inline-block; width:40px; height:40px;}
.invisible{visibility: hidden;}
.saveBtn em{font-style: normal; position:relative; top:11px; left:-5px;}
.likeBtn em{font-style: normal; position:relative; top:11px; left:5px;}

/* 콘텐츠 공유 영역 (좌측) */
#verticalShare{width:50px; position:fixed; top:40%; margin-left:-64px; display:none;}
.verticalBtn{margin:2px; width:40px;}
.likeBtn.verticalBtn{background:#00a6de url(../images/detailIcons/likeBtn.png) no-repeat 8px; width:40px;}
.topBtn{background:url(../images/detailIcons/topBtn.png) no-repeat -4px; display:inline-block; width:40px; height:40px; color:#fff; font-size:13px; text-align:center; margin-top:35px;}
.topBtn em{font-style:normal; position:relative; top:50%;}

/* 댓글 영역 */
#replyWrite{background-color: #e4e4e4; width: 100%; height: 130px;}
#replyWrite img{width: 45px; height: 45px; padding: 22px 12px 22px 50px;}
#replyWrite textarea{width: 68%; height: 49%; resize: none; border:none;}
#replyWrite a{background-color: #2aa8e0; color: #fff; position:absolute; margin-top:21px; margin-bottom:27px; font-size:14px; padding: 25px 8px 28px 8px;}
#replyList{width: 100%; margin: 0; }
#replyList li{list-style-type: none;}
.replyContentBox{padding: 13px 50px;}
.replyContentBox img{width: 45px; height: 45px; position:absolute;}
.replyContent{border-bottom: 1px solid #ECEEF1; padding-bottom:10px;}
.best{background:url(../images/detailIcons/best.png) no-repeat 0 4px; padding:3px 40px;}
.writerName{font-size: 15px; color: #414548; font-weight: bold;}
.replyText{font-size:13px; margin-top:8px; margin-bottom:5px;}
.replyDate{background:url(../images/detailIcons/date.png) no-repeat 0; color: #B6BDC1; font-size:12px; padding:4px 20px 3px; background-size:13px;}
.replyDetail{display:inline-block; margin-left:65px;}
.replySubDetail{margin-top:20px; margin-bottom:10px;}
.replySubDetail a{padding-right: 40px; color:#6F7375; font-size:12px; text-decoration: none;}
.likeReplyBtn{background:url(../images/detailIcons/likeReply.png) no-repeat 0; background-size:15px; padding:0px 20px;}
.rereplyBtn{background:url(../images/detailIcons/rereplyBtn.png) no-repeat 0; background-size:5px; padding:0px 11px;}

/* 답글 영역 */
.rereplyList{background-color: #ECEEF1; height:auto; display:none; padding:13px 63px 0 63px;}
.rereplyWrite{width: 100%; margin:27px 8px 0px 0px; border-top:1px solid #A7AEB3; padding:15px 0; display:inline-block;}
.rereplyWrite img{width:30px; height:30px;}
.rereplyWrite input[type=text] {border:none; position:absolute; margin-left: 40px; width:39%; font-size:12px; padding: 8px;}
.rereplyWrite a{background-color: #A7AEB3; color: #414548; font-size:13px; padding:7px 8px; float:right;}
.rereply{padding: 10px 0px;}
.rereplyList li img{padding:10px 0px;}
/*///////////////////////////////////////////////*/


/*///////////////////////////////////////////////*/
/* 작성자 정보 표시 영역 */
.rightMenu{background-color: #414548; width:25%; height: 100%; position:absolute; right:0px; border-top-right-radius:10px; border-bottom-right-radius:10px;}
.editorImg{width: 100px; height: 100px; border-radius:50px;}
#editorInfo{text-align: center; border-bottom:1px solid #909599; padding-top:50px;}
#editorInfo h4{color: #00a6de; margin-top:17px; margin-bottom:8px;}
.editorIntro{font-size:12px; color: #B6BDC1; margin-top:7px; margin-bottom:40px; }
#mobileEditorInfo{display:none;}

/* 콘텐츠 통계 */
#articleInfo{position: fixed; padding:12px; width:222px;}
#articleInfo li{list-style-type: none; text-align:right; color: #E4E1E1; padding-top:5px; padding-bottom:5px; padding-left:12px; padding-right:12px;}
#articleInfo li span{float: left; font-size: 13px; color: #B6BDC1; padding-left:30px; padding-bottom:5px; padding-top:3px;}
.articleHits{background: url(../images/detailIcons/articleHits.png) no-repeat 0;}
.articleLikes{background: url(../images/detailIcons/articleLikes.png) no-repeat 0;}
.articleReplies{background: url(../images/detailIcons/articleReplies.png) no-repeat 0;}
.articleShares{background: url(../images/detailIcons/articleShares.png) no-repeat 0;}
#articleShare{margin: 50px 25px 0 25px; text-align:center;}
#articleShare a{text-decoration: none; color: #fff; margin:2px 0;}
#mobileArticleInfo{display:none;}
/*///////////////////////////////////////////////*/


/*///////////////////////////////////////////////*/
/* 반응형 설정 */
@media only screen and (max-width:1279px) and (min-width:1024px){
	.modal{padding:0;}
	.modal-dialog .modal-content{width:100%; border-radius:0;}
	.rightMenu{border-radius:0;}
	
	#copyLink .modal-content.link-content{width:40%; border-radius:10px;}
	
	#articleInfo{width:23%;}
	#articleContent{padding:100px 200px;}
	
	#verticalShare{margin-left:0; display:none;}
}

@media only screen and (max-width:1023px) and (min-width:768px){
	.modal{padding:0;}
	.modal-dialog .modal-content{width:100%; border-radius:0;}
	.rightMenu{border-radius:0;}
	
	#copyLink .modal-content.link-content{width:40%; border-radius:10px;}
	
	#articleInfo{width:23%; padding:10px;}
	
	#verticalShare{margin-left:0; display:none; left:76%;}
}

@media only screen and (max-width:767px){
	.modal{padding:0;}
	.modal-dialog .modal-content{width:100%; margin:0; border-radius:0;}
	.container{float:none; width:100%;}
	.rightMenu{display:none;}
	
	#copyLink .modal-content.link-content{width:40%; border-radius:10px; margin:auto;}
	
	#articleTitle{border-bottom:0;}
	
	#mobileArticleInfo{display:block; border:1px solid #CFCECE;}
	#mobileArticleInfo ul{overflow:hidden; margin:0;}
	#mobileArticleInfo ul li{float:left; width:25%; color:#414548; text-align:center; font-size:12px; padding:10px 0; position:relative;}
	#mobileArticleInfo ul li span{float:none; padding:4px 0 4px 28px;}
	#mobileArticleInfo ul li:before{content:''; position:absolute; width:1px; height:20px; background:#CFCECE; top:7px; left:0;}
	
	#mobileEditorInfo{display:block; background:#414548; padding:13px 22px 1px; color:#fff;}
	.mobileCloseBtn{display:inline-block; font-size:26px; position:absolute; top:15px; right:15px;}
	#editorProfile{padding:0; border:none; overflow:hidden; margin-bottom:12px;}
	#editorImgBox{margin:0; float:left;}
	.editorImg{width:60px; height:60px;}
	#editorNameIntro{float:left; margin:0 0 0 13px; padding-top:14px; text-align:left;}
	.editorName{display:block; color:#00a6de; font-size:14px; font-weight:bold; margin-bottom:4px;}
	.editorIntro{display:block; font-size:12px; margin:0 0 14px 0;}
	
	#articleContent{padding:30px 11px;}
	
	#verticalShare{text-align:center; margin:0; height:auto; right:0; z-index:10; top:53%;}
	.mobileNone{visibility:hidden;}
}
/*///////////////////////////////////////////////*/

