@CHARSET "UTF-8";
ul{padding:0;}
li{list-style-type: none;}
em{font-style: normal;}
.menuBox{background:#fff; border:1px solid #eaeaea; margin:20px 0; padding:0 10px;}
.menuList li{margin:15px; padding:5px 0; color:#8E8E8E;}
.menuList li a{font-size:14px; padding:5px 0 5px 30px; display:block;}
.menuList li a:hover, a.hovered{color:#00a6de; border-bottom:2px solid #00a6de;}
.profileBtn{background:url(../images/editIcons/profileImg1.png) no-repeat 0;}
.profileBtn:hover, .profileBtn.hovered{background:url(../images/editIcons/profileImg2.png) no-repeat 0;}
.accountBtn{background:url(../images/editIcons/accountImg1.png) no-repeat 0;}
.accountBtn:hover, .accountBtn.hovered{background:url(../images/editIcons/accountImg2.png) no-repeat 0;}
.pwdBtn{background:url(../images/editIcons/pwdImg1.png) no-repeat 0;}
.pwdBtn:hover, .pwdBtn.hovered{background:url(../images/editIcons/pwdImg2.png) no-repeat 0;}

.editInfoTabletMenu{text-align:center; display:none;}
.editInfoTabletMenu ul{margin:0;}

.editBox{background:#fff; border:1px solid #eaeaea; padding:0 20px; padding:10px 20px;}
.editBox h1{color:#8E8E8E; font-size:20px; margin-bottom:35px;}

.profileBox{margin:20px 0; padding:10px 20px; height:500px;}
.profileSubBox h1{font-size:17px; margin:8px 0;}
.profileImgBox{float:left; padding-left:20px; width:12%;}
.profileImgBox img{width:80px; height:80px;}
.editImgBtn{background:url(../images/editIcons/editImgBtn.png) no-repeat 0; width:20px; height:20px; display:inline-block; position:relative; right:13px;}
.editImgBtn input[type=file]{opacity:0; width:20px; height:20px;}
.profileTxtBox{float:left; border-left:1px solid #eaeaea; padding-left:20px; width:83%;}
.profileSubBox{margin-bottom:30px;}
.profileNameInputBox{margin-bottom:7px;}
.profileNameInput{width:65%; display:inline-block; border:1px solid #D4D4D4;}
.profileTxtNum{color:#00a6de; font-size:12px; float:right; padding:4px;}
.profileTxtBox input[type=text]{width:92%; padding:4px; color:#8E8E8E; border:none;}
.warningTxt{color:red; font-size:12px;}
.profileWebInputBox .profileNameInput{margin-bottom:7px;}
.profileWebInputBox input[type=text]{width:80%;}
.profileHttp{display:inline-block; background-color:#aeaeae; color:#fff; padding:5px; font-size:13px;}
.addWebArea{display:inline-block; border:1px solid #EAEAEA; text-align:center; margin-top:10px; width:65%;}
.addWebBtn{background:url(../images/editIcons/addWebBtn.png) no-repeat 0; display:inline-block; width:30px; height:30px;}

.accountInfoBox{margin:10px 0; height:400px;}
.accountSubBox{margin-bottom:8px;}
.deleteAccount{color:#00a6de; border-bottom:1px solid #00a6de; font-size:12px;}

.pwdBox{margin:10px 0; height:400px;}
.editBtn{font-size:13px; padding:6px 20px; border:1px solid #8e8e8e; border-radius:4px;}
.editPwdBtn{background:linear-gradient(#11bef1, #029be0); color:#fff;}

.editSaveBox{background:#F6F6F6; position:fixed; width:948px; height:30px; bottom:0.5px; text-align:right;}
.editSaveSubBox{margin:5px 0;}
.editCancelBtn{background:linear-gradient(#f0f0f1, #e0e0e2);}
.editSaveBtn{background:linear-gradient(#11bef1, #029be0); color:#fff;}

@media only screen and (max-width:1279px) and (min-width:1024px){
	.menuBox{display:none;}
	
	.editInfoTabletMenu{display:block;}
	.menuList li{display:inline-block;}
}

@media only screen and (max-width:1023px) and (min-width:768px){
	.menuBox{display:none;}
}

@media only screen and (max-width:767px){
	.menuBox{display:none;}
}