@CHARSET "UTF-8";
#headerBody{float:left; margin : 0; font-family: Helvetica, 'Dotum', Arial, sans-serif; width:100%; height:auto;}
	#wrapper{float:left; width : 100%; line-height:50px; background : #00a1ff; position : fixed; z-index:500;}
	#header{height:50px; margin : 0 auto; max-width: 1280px; position: relative;}
	#logo{background: url("../images/topbarImg/pikicast_white.png") no-repeat 0px 10px; float:left;
			background-size: 90% auto; height : 50px; width : 115px; margin : auto 30px; cursor: pointer;}
	#search{float:left; background-color: #3cb5fc; position:relative; top : 10px; width: auto; left:10%;}
	#search_input{width : 310px; border : medium none; height:25px; line-height: 25px; float:left; background-color: rgba(60,181,252,0.5); color:white;}
	#search_btn{width:36px; height:28px; cursor: pointer; background:url("../images/topbarImg/search_btn_skyblue.png") no-repeat; 
					   background-size : 100% auto; position:absolute;}
	#profile_icons{position:relative; float:right; display:inline-block;}
	#login_info{position:absolute; top:10px; right : 80px; height : 30px; width:270px; border-right: 1px solid #80d3ef; display:inline-block; }
	#login_txt{color:white; font-size:12px; margin-top:-8px; float:right; margin-right:20px;}
	#profile_img{width: 30px; height: 30px; border-radius:15px; float:left;}
	#login_nickname{color:white; float:left;width:120px; height:28px; line-height:28px; vertical-align: top; font-size: 13px; margin-left: 5px;}
	#notice_bell{width:28px; height:30px; background:url("../images/topbarImg/bell_white.png") no-repeat 0 3px; 
						background-size : 80% auto; float:right; vertical-align:middle; margin-right:7px; }
	#icons{float:right; height:40px; width:40px; position:relative; margin-left:10px; top : 8px;}
	#write_icon{cursor:pointer; width:28px; height:28px; background:url("../images/topbarImg/write-icon.png") no-repeat 0 0; display:inline-block; background-size : 100% auto; float:right; margin-right:7px;}
	#menu_icon{cursor:pointer; width:28px; height:28px; background:url("../images/topbarImg/menu.png") no-repeat 0 3px; display:inline-block; background-size : 80% auto; margin-right:7px;}

/*검색 & 메뉴 관련*/	
.search_option_wrapper{width:348px; z-index:580; position:fixed; background:white; display:none; border:1px solid #e7e7e8;}
.search_whichpart{width:100%; height: 40px; border-bottom: 1px solid #e7e7e8; color:#808285; font-size: 14px;}
.search_whichpart>div{width:80%; height:80%; margin:8px 0 0 10px;}
.search_which_option{margin-left:10px;border:1px solid #bbbdc0; display:inline-block; border-radius:20px; padding:5px; cursor:pointer;}
.search_which_option:HOVER{background:#00a1ff; color:white; border:1px solid #00a1ff;}
.selected{background:#00a1ff; color:white; border:1px solid #00a1ff;}
.search_recommend{width:100%; }
.search_recommend>div{color:#939598; font-size:16px; font-weight: bold; height:25px; line-height:25px; margin:10px 0 0 10px;}
.search_recommend ul{margin:0 0 14px 0; padding:0; }
.search_recommend ul li {height:30px; line-height:30px; width:100%; list-style-type: none;}
.search_recommend ul li a{color:#939598; font-size: 14px; display:block; font-size:14px; padding:7px 24px;} 

.menu_option_wrapper{width:120px; height:auto; position:fixed; z-index:650; display:none;}
.menu_arrow{width:100%; height:14px;}
.menu_arrow img{width:auto; height:100%; float:right;}
.logout_menu, .login_menu{float:left; width:100%; height:22px; line-height:22px;background:white; padding:5px; text-align: center; font-size: 14px; 
					border-left: 1px solid #e7e7e8; border-right:1px solid #e7e7e8; border-bottom:1px solid #e7e7e8; cursor: pointer;}
.logout_menu:HOVER, .login_menu:HOVER{background: #e7e7e8;}
.logout_menu span{width:100%; height:100%; padding:5px; }

/*반응형*/
@media only screen and (min-width:1024px) and (max-width:1279px){
	#header{margin-left : 218px; max-width: none;}
		#search{float:none; background-color: inherit; position:fixed; top : 10px; width: 260px; left:auto; right:20px;}
		#search_input{width : 204px;  position:relative;}
		#search_btn{ position:relative; background:url("../images/topbarImg/search_btn.png") no-repeat; background-size : 70% auto; display:block; float:right;}
		#profile_icons, #icons{display:none;}
	.search_option_wrapper{width:300px;}
}
@media only screen and (min-width:768px) and (max-width:1023px){
	#header{margin-left : 50px; max-width: none;}
		#search{float:none; background-color: inherit; position:fixed; top : 10px; width: 260px;; left:auto; right:20px;}
		#search_input{width : 204px; position:relative;}
		#search_btn{ position:relative; background:url("../images/topbarImg/search_btn.png") no-repeat; background-size : 70% auto; display:block; float:right;}
		#profile_icons{display:none;}
	.search_option_wrapper{width:300px;}
}
@media only screen and (max-width:767px){
	#header{max-width: none;}
		#search{position:fixed; right:40px; left:auto; float: none;}
		#search_input,#login_info{display:none; }
		#search_btn{background:url("../images/topbarImg/search_btn.png") no-repeat; 
					   background-size : 70% auto; display:block;}
		#logo{float:none; margin : 0 auto; display:block;}
		#icons{float:none; height:40px; width:64px; position:fixed; margin-left:0; top : 8px; display:block; left:4px;}
			#write_icon{float:right; position:relative; display:block;}
			#menu_icon{float:left; position:relative; display:block;}
}
